# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtualenv
venv/
.env
*.venv
3ddfa_venv/
.venv/
pip-wheel-metadata/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Data / models / weights / outputs (do NOT upload datasets or model weights)
dataset/
frontend/ node_modules
frontend/.next/
dashboard/
data/
test/
# weights/
# models/
*.pth
*.pt
*.onnx
*.pkl
*.npy
*.npz
*.obj
*.ply

# Logs and results
logs/
results/
eval/
*.log

# vscode
.vscode/

# kaggle creds (if ever present)
kaggle.json
